/**** HTML Tags ****/

body {
  background: #383838;
  background-image: url("../images/linen.png");
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  color: #999999;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/**** Main Boxes ****/

#mainboxes {
  margin-top: 200px;
}
#mainboxes a:link {
  color: #000000;
}
#mainboxes a:visited {
  color: #000000;
}
#mainboxes a:active {
  color: #000000;
}

#mainboxes .mediatype {
  border: 2px solid gray;
  border-radius: 30px;
  height: 170px;
  width: 170px;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 50px;

  box-shadow: 0px 0px 50px #000000;

  background: rgb(244,244,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(173,173,173,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(173,173,173,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(173,173,173,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(173,173,173,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(173,173,173,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(173,173,173,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */

  transition: all 0.3s;
  -moz-transition: all 0.3s; /* Firefox 4 */
  -webkit-transition: all 0.3s; /* Safari and Chrome */
  -o-transition: all 0.3s; /* Opera */
}

  #mainboxes .mediatype:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px #999999;
  }

  #mainboxes .mediatype:active {
    box-shadow: 0px 0px 20px #999999;

    background: rgb(173,173,173); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(173,173,173,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(173,173,173,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
  }

#photosbox {

}

#videosbox {

}

.mediatype img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 50%;
}

/**** Nav Bar ****/

#navbar {
  color: #FFFFFF;
  box-shadow: 0px 0px 10px #222222;
  
  background: rgb(47,95,158); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(47,95,158,1) 0%, rgba(13,28,68,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,95,158,1)), color-stop(100%,rgba(13,28,68,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(47,95,158,1) 0%,rgba(13,28,68,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(47,95,158,1) 0%,rgba(13,28,68,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(47,95,158,1) 0%,rgba(13,28,68,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(47,95,158,1) 0%,rgba(13,28,68,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5f9e', endColorstr='#0d1c44',GradientType=0 ); /* IE6-9 */

}

#navbar h1 {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 0px 0px 5px #000000;
}
  #navbar h1 a:link {
    color: #FFFFFF;
  }
  #navbar h1 a:visited {
    color: #FFFFFF;
  }
  #navbar h1 a:hover {
    color: #CCCCCC;
  }

#navbar h2 {
  position: absolute;
  left: 300px;
  top: 13px;
  text-shadow: 0px 0px 2px #000000
}

/**** Login ****/

#logintext {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #CCCCCC;
}
  #logintext a:link {
    color: #CCCCCC;
  }

  #logintext a:visited {
    color: #CCCCCC;
  }

  #logintext a:hover {
    color: #AAAAAA;
  }

#loginbox {
  width: 265px;
  height: 40px;
  position: absolute;
  top: 7px;
  right: 130px;
  opacity: 0;

  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
}

.loginchicklet {
  background-image: url("../images/loginchicklets.png");
  width: 30px;
  height: 30px;
}

.chicklet {
  background-image: url("../images/loginchicklets.png");
  width: 35px;
  height: 35px;
  position: absolute;
  top: 3px;
}
  .fb {
    right: 190px;
    background-position: 0px 0px;
  }
    .fb:hover {
      background-position: 0px -35px;
    }
  .yt {
    right: 110px;
    background-position: -35px 0px;
  }
    .yt:hover {
      background-position: -35px -35px;
    }
  .instagram {
    right: 30px;
    background-position: -70px 0px;
  }
    .instagram:hover {
      background-position: -70px -35px;
    }
